<div id="pageintro" class="hoc clear">
  <!-- ################################################################################################ -->
  <img src="assets/about-banner.jpg" />
  <article>
    <section>
      <h3 class="heading">Our Vision</h3>
      <p>
        Support Industries by providing them with the best sourced and quality
        products.
      </p>
    </section>
    <hr />
    <section>
      <h3 class="heading">Our Team</h3>
      <div class="intro-container">
        <span><img class="team-photo" src="assets/abbas.jfif" /></span>
        <div class="intro-name">Mr. Abbas A Kachwala</div>
        <div><i>(Founder and Proprieter)</i></div>
        <div class="team-intro">
          He has completed his post graduation in Statistics from Pune
          University. He is extremely talented and has founded this business all
          by himself in the year 1990. Prior to starting this business, he was
          working as an accountant at Tata Motors. He has around 30+ years of
          industrial experience. He believes in providing the best quality
          products at the best price.
        </div>
      </div>

      <div class="intro-container">
        <span><img src="assets/hussain.jpg" class="team-photo" /></span>
        <div class="intro-name">Mr. Hussain A Kachwala</div>
        <div><i>(Managing Director)</i></div>
        <div class="team-intro">
          He has completed his graduation in Business Administration from Pune
          University. He has been working in this role for the last 5 years. He
          is working along with Mr. Abbas to expand this business with a new set
          of visions and ideas. He believes in helping industries with their
          needs by provided quality product and services.
        </div>
      </div>
    </section>
  </article>

  <!-- ################################################################################################ -->
</div>
