<div id="pageintro" class="hoc clear">
  <!-- ################################################################################################ -->
  <img src="assets/contact-banner.jpg" />
  <article>
    <ul class="contact-list">
      <li>
        <em class="fa fa-map"></em>
        <span>
          Shop No G-11, Shivraj Industrial Premises Co Op Society <br />Plot No.
          133, Sector No. 7, PCNDTA, <br />Bhosari, Pune - 411026
        </span>
      </li>
      <li>
        <em class="fa fa-phone"></em>
        <span> +91 9371012931 / +91 7972202785 </span>
      </li>
      <li>
        <em class="fa fa-envelope"></em>
        <span>
          <a href="mailto:kkandsons@hotmail.com">kkandsons@hotmail.com</a>
        </span>
      </li>
    </ul>
  </article>
  <article>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15121.82832583079!2d73.8337365!3d18.643474!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18967ac8f146951d!2sK%20K%20and%20Sons!5e0!3m2!1sen!2sin!4v1636785651573!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      class="map-frame"
      loading="lazy"
    ></iframe>
  </article>
  <!-- ################################################################################################ -->
</div>
