<!-- Top Background Image Wrapper -->

<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div id="pageintro" class="hoc clear">
  <!-- ################################################################################################ -->
  <img src="assets/banner-kks.jpg" width="100%" height="100%" />
  <article class="content">
    <h3 class="heading">Welcome to K K & Sons</h3>
    <p>
      We are renowned industrial suppliers with a legacy of more than 20 years.
      We are based in the city of Pune (India) and started our business in the
      year 1990. We strive for providing the best customer experience. If you
      have a requirement, do not hestitate to get in touch.
    </p>
    <div class="home-desc">
      We are Dealers and Stockist of:
      <ul>
        <li>MS/GI/SS Pipes and Fittings</li>
        <li>MS/GI/SS Flanges</li>
        <li>MS / High-Tensile Fasterners</li>
        <li>SS 304/316 Fasterners</li>
        <li>Anchor Fastners</li>
        <li>Clamps</li>
        <li>EyeBolts</li>
        <li>General Hardware</li>
      </ul>
    </div>
  </article>
  <!-- ################################################################################################ -->
</div>
<hr />
<div class="sectiontitle client">
  <div class="client-title">Our Clients</div>
</div>
<ul id="stats" class="nospace group">
  <li>
    <i class="fas"
      ><img src="assets/thermax.png" width="200px" height="150px"
    /></i>
  </li>
  <li>
    <i class="fas"
      ><img src="assets/elantas.png" width="200px" height="150px"
    /></i>
  </li>
  <li>
    <i class="fas"
      ><img src="assets/force-e.png" width="200px" height="150px"
    /></i>
  </li>
  <li>
    <i class="fas"
      ><img src="assets/inox-e.png" width="200px" height="150px"
    /></i>
  </li>
</ul>
<!-- ################################################################################################ -->

<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row3"> -->
<!-- <main class="hoc container clear"> -->
<!-- main body -->
<!-- ################################################################################################ -->
<!-- <section id="introblocks">
  <h6 class="heading center">Our Products</h6>
  <ul class="nospace group">
    <li class="one_third">
      <figure>
        <a class="imgover" href="#"
          ><img src="images/demo/348x220.png" alt=""
        /></a>
        <figcaption>
          <h6 class="heading">Aliquam faucibus</h6>
          <p>
            Ipsum eu ipsum donec ac orci sed lectus elementum fringilla nullam
            dictum nisi nec mauris phasellus ut lacus.
          </p>
        </figcaption>
      </figure>
    </li>
    <li class="one_third">
      <figure>
        <a class="imgover" href="#"
          ><img src="images/demo/348x220.png" alt=""
        /></a>
        <figcaption>
          <h6 class="heading">Volutpat sed quis</h6>
          <p>
            Vel nisi semper adipiscing maecenas sodales elit cras porttitor diam
            aliquam turpis quisque rhoncus tincidunt.
          </p>
        </figcaption>
      </figure>
    </li>
    <li class="one_third">
      <figure>
        <a class="imgover" href="#"
          ><img src="images/demo/348x220.png" alt=""
        /></a>
        <figcaption>
          <h6 class="heading">Leo phasellus sit</h6>
          <p>
            Arcu ut auctor nunc ac mi vivamus aliquam maecenas in lorem vel
            tellus porttitor placerat quisque tellus nulla.
          </p>
        </figcaption>
      </figure>
    </li>
    <li class="one_third">
      <figure>
        <a class="imgover" href="#"
          ><img src="images/demo/348x220.png" alt=""
        /></a>
        <figcaption>
          <h6 class="heading">Amet lorem odio</h6>
          <p>
            Facilisis et mattis id consectetuer vel nunc donec sagittis purus
            sit amet est pellentesque elit dolor mattis.
          </p>
        </figcaption>
      </figure>
    </li>
    <li class="one_third">
      <figure>
        <a class="imgover" href="#"
          ><img src="images/demo/348x220.png" alt=""
        /></a>
        <figcaption>
          <h6 class="heading">Semper aliquam duis</h6>
          <p>
            Ac lobortis sed cursus at magna vivamus laoreet orci vel tortor in
            nisi in porttitor vulputate arcu integer.
          </p>
        </figcaption>
      </figure>
    </li>
    <li class="one_third">
      <figure>
        <a class="imgover" href="#"
          ><img src="images/demo/348x220.png" alt=""
        /></a>
        <figcaption>
          <h6 class="heading">Tempus mauris morbi</h6>
          <p>
            Pretium curabitur lacinia aenean eu lectus maecenas at urna morbi
            porta est a mi duis felis nunc lobortis ut.
          </p>
        </figcaption>
      </figure>
    </li>
  </ul>
</section> -->
<!-- ################################################################################################ -->
<!-- / main body -->
<!-- <div class="clear"></div> -->
<!-- </main> -->
<!-- </div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row2"> -->
<!-- <section class="hoc container clear"> -->
<!-- ################################################################################################ -->
<!-- <div class="sectiontitle">
  <p class="nospace font-xs">Mollis eu commodo eu dui quisque</p>
  <h6 class="heading">Ut ipsum vivamus tincidunt</h6>

  <ul class="nospace group center">
    <li class="one_third first">
      <article>
        <a href="#"><i class="fas fa-eraser fa-5x btmspace-50"></i></a>
        <h6 class="heading">Tincidunt enim etiam</h6>
        <p class="btmspace-30">
          Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse
          potenti fusce ornare [&hellip;]
        </p>
        <footer><a class="btn" href="#">Read More</a></footer>
      </article>
    </li>
    <li class="one_third">
      <article>
        <a href="#"><i class="fas fa-chess-bishop fa-5x btmspace-50"></i></a>
        <h6 class="heading">Congue nulla facilisi</h6>
        <p class="btmspace-30">
          Laoreet ligula phasellus pede phasellus faucibus enim quis lacus
          praesent ipsum vulputate [&hellip;]
        </p>
        <footer><a class="btn" href="#">Read More</a></footer>
      </article>
    </li>
    <li class="one_third">
      <article>
        <a href="#"><i class="fas fa-coins fa-5x btmspace-50"></i></a>
        <h6 class="heading">Nunc congue curabitur</h6>
        <p class="btmspace-30">
          Vitae lacinia eu interdum tempus massa in sodales purus non nisi cras
          porta lacinia ut [&hellip;]
        </p>
        <footer><a class="btn" href="#">Read More</a></footer>
      </article>
    </li>
  </ul>
   ################################################################################################ -->
<!--</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row3"> -->
<!-- <section class="hoc container clear"> -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- </section> -->
<!-- </div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper coloured">
  <section id="testimonials" class="hoc container clear">

    <div class="sectiontitle">
      <p class="nospace font-xs">At ante morbi consequat lobortis</p>
      <h6 class="heading">Eros suspendisse scelerisque</h6>
    </div>
    <article class="one_half first">
      <img src="images/demo/100x100.png" alt="" />
      <blockquote>
        Proin sed sapien ut convallis lectus ac magna nulla mattis purus
        phasellus consectetuer fermentum augue integer vulputate lectus vitae
        lorem suspendisse potenti donec suscipit.
      </blockquote>
      <h6 class="heading">J. Doe</h6>
      <em>Nulla mauris hendrerit</em>
    </article>
    <article class="one_half">
      <img src="images/demo/100x100.png" alt="" />
      <blockquote>
        Pellentesque et ipsum mattis ipsum pellentesque pretium proin rutrum
        turpis non accumsan aliquet odio magna luctus neque in adipiscing mi
        odio ac felis sed mattis enim quis ipsum.
      </blockquote>
      <h6 class="heading">G. Doe</h6>
      <em>Aenean vestibulum mattis</em>
    </article>

  </section>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row3">
  <section class="hoc container clear">

    <div class="sectiontitle">
      <p class="nospace font-xs">Nisl sed blandit iaculis lectus</p>
      <h6 class="heading">Nam et erat nec eros elementum</h6>
    </div>
    <ul class="nospace group latest">
      <li class="one_half first">
        <article>
          <div class="excerpt">
            <ul class="nospace meta">
              <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <h6 class="heading">Gravida integer tristique</h6>
            <p>
              Dui vel odio proin magna ligula pellentesque eu tincidunt sed
              ornare tempor nisl in id dui vestibulum ante ipsum primis in
              faucibus orci luctus et ultrices posuere cubilia curae donec [<a
                href="#"
                >&hellip;</a
              >]
            </p>
            <footer><a href="#">Read More</a></footer>
          </div>
          <time datetime="2045-04-06T08:15+00:00"
            ><strong>06</strong> <em>Apr</em></time
          >
        </article>
      </li>
      <li class="one_half">
        <article>
          <div class="excerpt">
            <ul class="nospace meta">
              <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <h6 class="heading">Eleifend semper nisl sed</h6>
            <p>
              Eget lorem in in felis in metus mollis blandit ut eu justo
              suspendisse semper sem sit amet ligula quisque eget felis eu
              tortor tristique pharetra praesent turpis pede varius sed [<a
                href="#"
                >&hellip;</a
              >]
            </p>
            <footer><a href="#">Read More</a></footer>
          </div>
          <time datetime="2045-04-05T08:15+00:00"
            ><strong>05</strong> <em>Apr</em></time
          >
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">View More</a></footer>

  </section>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
