.kks-logo {
  float: left;
}
.content {
  padding: 20px;
}

.home-desc {
  font-size: 18px;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  color: black;
}

.client-title {
  font-size: 32px;
  font-weight: 500;
  padding: 20px;
}

.client {
  margin: 0 auto 10px;

  .sectiontitle * {
    font-size: 48px !important;
  }
}
